<!--page to create a new event for other people to join
should have a form with
- event name
- event description
- dates and times that the user is available
  - has a 2d array of checkboxes with the days of the week and the hours of the day
- submit button
-->

<html>

<head>
    <title>New Event</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <h1>New Event</h1>
    <form method="post" onsubmit="return submitForm();">
        <label for="name">Event Name</label>
        <input type="text" name="name" id="name" required/>
        <label for="description">Event Description</label>
        <input type="text" name="description" id="description" required/>
        <br>
        <!--check box to ask if user wants a blacklist or whitelist, with a tooltip in a questionmark logo next to it explaining the difference-->
        <label for="blacklist" data-toggle="tooltip" data-placement="right" title="Blacklist: Mark the days you are busy&#013;Whitelist: Mark the days you are free">Blacklist? (Hover for info)</label>
        <input type="checkbox" name="blacklist" id="blacklist"/>
        <br>
        <label for="availability">Availability</label>
        <!-- 2d array of checkboxes with the days of the week across the top and the hours of the day on the side
        every other column should be grey
        user should be able to click on one box and drag straight up or down
        each day of the week should have a "select all" button above it
        each hour should have a "select all" button to the left of it-->
        <table>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
            <tr>
                <td>12am</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="0,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="0,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="0,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="0,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="0,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="0,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="0,6" /></label></td>
            </tr>
            <tr>
                <td>1am</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="1,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="1,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="1,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="1,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="1,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="1,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="1,6" /></label></td>
            </tr>
            <tr>
                <td>2am</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="2,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="2,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="2,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="2,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="2,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="2,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="2,6" /></label></td>
            </tr>
            <tr>
                <td>3am</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="3,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="3,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="3,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="3,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="3,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="3,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="3,6" /></label></td>
            </tr>
            <tr>
                <td>4am</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="4,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="4,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="4,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="4,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="4,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="4,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="4,6" /></label></td>
            </tr>
            <tr>
                <td>5am</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="5,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="5,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="5,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="5,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="5,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="5,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="5,6" /></label></td>
            </tr>
            <tr>
                <td>6am</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="6,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="6,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="6,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="6,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="6,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="6,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="6,6" /></label></td>
            </tr>
            <tr>
                <td>7am</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="7,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="7,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="7,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="7,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="7,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="7,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="7,6" /></label></td>
            </tr>
            <tr>
                <td>8am</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="8,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="8,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="8,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="8,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="8,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="8,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="8,6" /></label></td>
            </tr>
            <tr>
                <td>9am</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="9,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="9,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="9,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="9,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="9,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="9,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="9,6" /></label></td>
            </tr>
            <tr>
                <td>10am</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="10,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="10,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="10,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="10,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="10,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="10,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="10,6" /></label></td>
            </tr>
            <tr>
                <td>11am</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="11,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="11,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="11,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="11,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="11,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="11,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="11,6" /></label></td>
            </tr>
            <tr>
                <td>12pm</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="12,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="12,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="12,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="12,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="12,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="12,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="12,6" /></label></td>
            </tr>
            <tr>
                <td>1pm</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="13,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="13,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="13,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="13,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="13,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="13,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="13,6" /></label></td>
            </tr>
            <tr>
                <td>2pm</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="14,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="14,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="14,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="14,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="14,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="14,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="14,6" /></label></td>
            </tr>
            <tr>
                <td>3pm</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="15,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="15,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="15,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="15,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="15,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="15,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="15,6" /></label></td>
            </tr>
            <tr>
                <td>4pm</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="16,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="16,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="16,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="16,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="16,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="16,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="16,6" /></label></td>
            </tr>
            <tr>
                <td>5pm</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="17,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="17,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="17,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="17,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="17,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="17,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="17,6" /></label></td>
            </tr>
            <tr>
                <td>6pm</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="18,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="18,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="18,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="18,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="18,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="18,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="18,6" /></label></td>
            </tr>
            <tr>
                <td>7pm</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="19,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="19,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="19,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="19,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="19,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="19,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="19,6" /></label></td>
            </tr>
            <tr>
                <td>8pm</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="20,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="20,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="20,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="20,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="20,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="20,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="20,6" /></label></td>
            </tr>
            <tr>
                <td>9pm</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="21,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="21,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="21,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="21,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="21,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="21,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="21,6" /></label></td>
            </tr>
            <tr>
                <td>10pm</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="22,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="22,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="22,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="22,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="22,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="22,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="22,6" /></label></td>
            </tr>
            <tr>
                <td>11pm</td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="23,0" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="23,1" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="23,2" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="23,3" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="23,4" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="23,5" /></label></td>
                <td><label class="checkboxLabel"><input type="checkbox" name="availability" value="23,6" /></label></td>
            </tr>
        </table>

        <input type="submit" value="Submit" />
    </form>


    <script>
        function submitForm() {
            //make a post request to the server with the values, event name and event description and navigate to the returned page
            //if description is empty, set it to event name
            var name = document.getElementById("name").value;
            var description = document.getElementById("description").value;
            if (description == "") {
                description = name;
            }
            var availability = document.getElementsByName("availability");
            var checkboxes = document.getElementsByName('availability');
            var values = [];
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    values.push(checkboxes[i].value);
                }
            }
            console.log(values);
            var data = {
                name: name,
                description: description,
                //if blacklist is checked, set it to true, otherwise false
                blacklist: document.getElementById("blacklist").checked,
                availability: values
            };
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/createEvent", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify(data));
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    window.location.href = xhr.responseText;
                }
            }
            return false;
        }
        
        
        /* {
            //make a post request to the server with the values, event name and event description
            //if description is empty, set it to event name
            var checkboxes = document.getElementsByName('availability');
            var values = [];
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    values.push(checkboxes[i].value);
                }
            }
            console.log(values);
            var eventName = document.getElementById('name').value;
            var eventDescription = document.getElementById('description').value;
            if (eventDescription == "") {
                eventDescription = eventName;
            }
            var data = {
                name: eventName,
                description: eventDescription,
                availability: values
            };
            console.log(data);
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/createEvent", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify(data));
            return false;
        } */
        //if the user clicks and holds on a checkbox that is not selected and drags, it should select all the checkboxes in between
        //if the user clicks and holds on a checkbox that is selected and drags, it should deselect all the checkboxes in between
        /* onmousedown = function(e) {
            var checkboxes = document.getElementsByName('availability');
            var start = -1;
            var end = -1;
            var selected = false;
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i] == e.target) {
                    start = i;
                    if (checkboxes[i].checked) {
                        selected = true;
                    }
                }
                if (start != -1 && checkboxes[i].checked) {
                    end = i;
                }
            }
            if (start != -1 && end != -1) {
                for (var i = start; i <= end; i++) {
                    checkboxes[i].checked = !selected;
                }
            }
        } */
        
    </script>
    <style>
        table {
            border-collapse: collapse;
        }

        td,
        th {
            border: 1px solid black;
            padding: 0px;
        }

        /* make every other column in table gray */
        tr:nth-child(even) td:nth-child(2n+1) {
            background-color: #808080;
        }

        /* make all columns same width */
        td {
            width: 100px;
            height: 25px;
        }

        .checkboxLabel {
            border: 0px solid black;
            width: 100%;
            height: 100%;
            display: inline-block;
        }
    </style>
</body>

</html>